<script type="module">import "calendar";</script>

<h2 class="text-xl w-full text-center mt-5 mb-2">Add Availability</h2>
<p class="w-full text-lg mb-5 text-center text-gray-500">Select a start date and end date by clicking calendar dates.</p>

<div id="calendar" data-calendar="<%= @calendar %>" class="mt-5 mb-5 max-w-3xl mx-auto">
  <div id="calendar-arrows" class="flex justify-center items-center gap-5 mb-5 w-[350px] mx-auto">
    <%= image_tag "arrow-left.png", id: "arrow-left", class: "cursor-pointer" %>
    <%= image_tag "arrow-right.png", id: "arrow-right", class: "cursor-pointer" %>
  </div>
</div>

<div id="added-dates" class="max-w-3xl mx-auto mb-5" data-dates="<%= @location.available_dates.to_json %>">
  <% @location.available_dates.each do |date_range| %>
    <div class="mb-5 p-3 outline-1 outline-gray-300 flex justify-between items-center">
      <p><%= "#{date_range["startDate"]} - #{date_range["endDate"]}" %></p>
      <%= image_tag "/images/close-icon.png", class: "close-button size-5 cursor-pointer", data: { dateRange: date_range } %>
    </div>
  <% end %>
</div>

<form action="<%= location_path(@location)%>" method="POST" class="w-full block text-center max-w-3xl mx-auto mb-5 p-3 outline-1 outline-gray-300">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="available_dates" id="available-dates">
  <input type="submit" value="Save" class="cursor-pointer">
</form>