<div class="min-h-[calc(100vh_-_100px)] flex flex-col justify-center items-center">
  <% @location.errors.full_messages.each do |message| %>
    <p class="mb-5"><%= message %></p>
  <% end %>
  <h2 class="text-xl w-full text-start mt-5 sm:mt-0 mb-2">Edit Location</h2>
  <p class="w-full text-lg mb-5 text-start text-gray-500">You can set availability from the account dashboard.</p>
  <form action="<%= location_path(@location) %>" method="POST" enctype="multipart/form-data" class="w-full">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <div class="flex flex-col flex-wrap sm:flex-row justify-center items-center gap-5">
      <input type="text" name="street" value="<%= @location.street %>" placeholder="Street" class="w-full block p-3 outline-1 outline-gray-300 basis-[calc(100%-10px)] sm:basis-[calc(50%-10px)]" required />

      <input type="text" name="city" value="<%= @location.city %>" placeholder="City" class="w-full block p-3 outline-1 outline-gray-300 basis-[calc(100%-10px)] sm:basis-[calc(50%-10px)]" required />

      <input type="text" name="state" value="<%= @location.state %>" placeholder="State" class="w-full block p-3 outline-1 outline-gray-300 basis-[calc(100%-10px)] sm:basis-[calc(50%-10px)]" required />

      <input type="text" name="zip_code" value="<%= @location.zip_code %>" placeholder="Zip Code" class="w-full block p-3 outline-1 outline-gray-300 basis-[calc(100%-10px)] sm:basis-[calc(50%-10px)]" required />

      <input type="text" name="country" value="<%= @location.country %>" placeholder="Country" class="w-full block p-3 outline-1 outline-gray-300 basis-[calc(100%-10px)] sm:basis-[calc(50%-10px)]" required />

      <input type="text" name="price" value="<%= @location.price %>" placeholder="Price" class="w-full block p-3 outline-1 outline-gray-300 basis-[calc(100%-10px)] sm:basis-[calc(50%-10px)]" required />

      <select name="category" value="<%= @location.category %>" class="w-full block p-3 outline-1 outline-gray-300 basis-[calc(100%-10px)] sm:basis-[calc(50%-10px)]">
        <option value="Home">Home</option>
        <option value="Apartment">Apartment</option>
        <option value="Guest House">Guest House</option>
        <option value="Room">Room</option>
      </select>
      
      <input type="file" name="images[]" multiple value="<%= @location.images %>" placeholder="Images" class="w-full block p-3 outline-1 outline-gray-300 basis-[calc(100%-10px)] sm:basis-[calc(50%-10px)]" required />

      <textarea name="notes" value="<%= @location.notes %>" class="w-full block p-3 outline-1 outline-gray-300 basis-[100%]" rows="8" cols="50" placeholder="Notes"></textarea>
      
      <input type="submit" value="Submit" class="mb-5 sm:mb-0 w-full block p-3 outline-1 outline-gray-300 cursor-pointer" />
    </div>
  </form>
</div>

