<script type="module">
  import "location_show";
</script>

<div class="grid gap-4 max-w-3xl mx-auto">
  <div class="flex justify-between items-center mt-10">
    <div>
      <h3 class="text-xl font-bold"><%= @location.street %></h3>
      <p class="text-sm"><%= "#{@location.city}, #{@location.state}" %></p>
    </div>
    <div>
      <h4 class="text-lg" id="price" data-price="<%= @location.price %>"><%= "$#{@location.price} per night" %></h4>
      <p class="text-sm">4.7 (100 reviews)</p>
    </div>
  </div>
  <div>
      <%= image_tag @location.images[0], class: "w-full rounded-lg h-65 sm:h-100", id: "main-image" %>
  </div>
  <div class="grid grid-cols-5 gap-4">
      <div>
          <%= image_tag @location.images[0], class: "max-w-full rounded-lg h-[50px] sm:h-[100px] image-thumbnail cursor-pointer" %>
      </div>
      <div>
          <%= image_tag @location.images[1], class: "max-w-full rounded-lg h-[50px] sm:h-[100px] image-thumbnail cursor-pointer" %>
      </div>
      <div>
          <%= image_tag @location.images[2], class: "max-w-full rounded-lg h-[50px] sm:h-[100px] image-thumbnail cursor-pointer" %>
      </div>
      <div>
          <%= image_tag @location.images[3], class: "max-w-full rounded-lg h-[50px] sm:h-[100px] image-thumbnail cursor-pointer" %>
      </div>
      <div>
          <%= image_tag @location.images[4], class: "max-w-full rounded-lg h-[50px] sm:h-[100px] image-thumbnail cursor-pointer" %>
      </div>
  </div>
</div>

<div class="max-w-3xl mx-auto divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm mt-10 mb-5">
  <div class="flex justify-between items-center gap-5 px-4 py-5 sm:px-6">
    <div class="block sm:flex items-center gap-5">
      <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="inline-block size-14 rounded-full" />
      <div>
        <h2 class="text-xl font-bold" ><%= @location.user.name %></h2>
        <p>Hosting since 1/1/2020</p>
      </div>
    </div>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <p class="text-lg/7"><%= @location.notes %></p>
  </div>
</div>

<% if !current_user %>
  <p class="max-w-3xl mx-auto mb-5 p-3 outline-1 outline-gray-300 text-center">Booking calendar not displayed because you are not signed in.</p>
<% elsif current_user == @location.user %>
  <p class="max-w-3xl mx-auto mb-5 p-3 outline-1 outline-gray-300 text-center">Booking calendar not displayed because you own this property.</p>
<% else %>
  <div id="calendar" data-calendar="<%= @calendar %>" class="mt-5 mb-10 max-w-3xl mx-auto">
    <div id="calendar-arrows" class="flex justify-center items-center gap-5 mb-5 w-[350px] mx-auto">
      <%= image_tag "arrow-left.png", id: "arrow-left", class: "cursor-pointer" %>
      <%= image_tag "arrow-right.png", id: "arrow-right", class: "cursor-pointer" %>
    </div>
  </div>
<% end %>

<div id="added-dates" class="max-w-3xl mx-auto mb-5"></div>

<form action="<%= reservations_path %>" method="POST" class="hide w-full block text-center max-w-3xl mx-auto mb-10 p-3 outline-1 outline-gray-300" id="reservation-form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="start_date" id="start-date">
  <input type="hidden" name="end_date" id="end-date">
  <input type="hidden" name="total" id="total">
  <input type="hidden" name="location_id" value="<%= @location.id %>">
  <input type="submit" value="Reserve" class="cursor-pointer">
</form>